<a href="https://colab.research.google.com/github/S3gam/Python_basics_for_DS/blob/master/Python_basics_for_DS_(Module_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hands-ON LAB: Lists in Python (MODULE 2, LAB 1)

## <h2 id="#dataset">About the Dataset</h2>


Imagine you received album recommendations from your friends and compiled all of the recommandations into a table, with specific information about each album.

The table has one row for each movie and several columns:

*   **artist** - Name of the artist
*   **album** - Name of the album
*   **released_year** - Year the album was released
*   **length_min_sec** - Length of the album (hours,minutes,seconds)
*   **genre** - Genre of the album
*   **music_recording_sales_millions** - Music recording sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)
*   **claimed_sales_millions** - Album's claimed sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)
*   **date_released** - Date on which the album was released
*   **soundtrack** - Indicates if the album is the movie soundtrack (Y) or (N)
*   **rating_of_friends** - Indicates the rating from your friends from 1 to 10

<br>
<br>

The dataset can be seen below:

<font size="1">
<table font-size:xx-small>
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

## Lists

<h3 id="index">Indexing</h3>

We are going to take a look at lists in Python. A list is a sequenced collection of different objects such as integers, strings, and even other lists as well. The address of each element within a list is called an <b>index</b>. An index is used to access and refer to items within a list.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsIndex.png" width="1000" />

To create a list, type the list within square brackets <b>\[ ]</b>, with your content inside the parenthesis and separated by commas. Letâ€™s try it!

In [9]:
# Create a list

L = ["Segam", 15.3, 5]
L

['Segam', 15.3, 5]

We can use negative and regular indexing with a list:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsNeg.png" width="1000" />

In [11]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  ) #L[0] an L[-3] will give us the same result
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Segam
 Negative: Segam
the same element using negative and positive indexing:
 Postive: 15.3
 Negative: 15.3
the same element using negative and positive indexing:
 Postive: 5
 Negative: 5

## List Content

Lists can contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting:

In [15]:
# Sample list

S=14
G=0.9

List = ["Segam", 32, 0.1, 1997, "Gener", (S,15), [G,14]] # A list can include inside also other lists or tuples
List

['Segam', 32, 0.1, 1997, 'Gener', (14, 15), [0.9, 14]]

## List Operations

We can also perform slicing in lists. For example, if we want the last two elements, we use the wollowing comand:

In [20]:
# Sample list

S=14
G=0.9

List = ["Segam", 32, 0.1, 1997, "Gener", (S,15), [G,14]] # A list can include inside also other lists or tuples


# List slicing
List[0:5] # Prints the elements form index 0 to index 5

['Segam', 32, 0.1, 1997, 'Gener']

We can use the method **extend** to add new elements to the list:

In [22]:
# Use extend to add elements to the list

# Sample list

S=14
G=0.9

List = ["Segam", 32, 0.1, 1997, "Gener", (S,15), [G,14]] # A list can include inside also other lists or tuples

List.extend(["Paco",1243])

List

['Segam', 32, 0.1, 1997, 'Gener', (14, 15), [0.9, 14], 'Paco', 1243]

Another similar method is append. If we apply **append** instead of **extend**, we add one element to the list

In [24]:
# Use append to add elements to list

S=14
G=0.9

List = ["Segam", 32, 0.1, 1997, "Gener", (S,15), [G,14]] # A list can include inside also other lists or tuples

List.append(["Paco",1243]) # In this case, we are adding just one element to the list, not two diferent ones like before.

List

['Segam', 32, 0.1, 1997, 'Gener', (14, 15), [0.9, 14], ['Paco', 1243]]

Each time we apply a method, the list changes. If we apply <code>extend</code> we add two new elements to the list. The list <code>L</code> is then modified by adding two new elements. If we append the list ['a','b'] we have one new element consisting of a nested list:

As lists are mutable, we can change them. For example, we can change the first element as follows:

In [28]:
# Change the element based on the index

A = ["Sergi Garcia", 25]
print("Before change: ", A)

A[0] = "Segam"
print("After change ", A)

Before change:  ['Sergi Garcia', 25]
After change  ['Segam', 25]

We can also **delete** an element by using the **del** command

In [32]:
# Delete an element based on the index

A = ["Sergi Garcia", 25]
print("Before change: ", A)

del(A[1])
print("After chang:", A)

Before change:  ['Sergi Garcia', 25]
After chang: ['Sergi Garcia']

we can convert string to a list using **split**. For example, the method **split** translates every group of characters separated by a space into an element in a list

In [34]:
# Split the string, default is by space

"Sergi Garcia".split()

['Sergi', 'Garcia']

We can use the split function to separate strings on a specific character which we call a **delimiter**. We pass the character we would like to split on into the argument, which in this case is a comma.  The result is a list, and each element corresponds to a set of characters that have been separated by a comma:

In [36]:
# Split the string by coma

"A,B,C,D,E".split(",")

['A', 'B', 'C', 'D', 'E']

## Copy and Clone List

When we set one variable <b>B</b> equal to <b>A</b>, both <b>A</b> and <b>B</b> are referencing the same list in memory:

In [39]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsRef.png" width="1000" align="center">

Initially, the value of the first element in <b>B</b> is set as "hard rock". If we change the first element in <b>A</b> to <b>"banana"</b>, we get an unexpected side effect.  As <b>A</b> and <b>B</b> are referencing the same list, if we change list <b>A</b>, then list <b>B</b> also changes. If we check the first element of <b>B</b> we get "banana" instead of "hard rock":

In [40]:
A = ["hard rock", 10, 1.2]
B = A
print('A before change:', A)
print('B: before change', B)

A[0] = "Banana"
print('A after change:', A)
print('B: after change', B)

A before change: ['hard rock', 10, 1.2]
B: before change ['hard rock', 10, 1.2]
A after change: ['Banana', 10, 1.2]
B: after change ['Banana', 10, 1.2]

You can clone list **A** by using  the following syntax:

In [43]:
# Clone (clone by value) the list A

A = ["hard rock", 10, 1.2]
B = A[:] # In this case we are creating a new list with the same variables, so if there are any changes, they will not apply to both lists A and B
print('A before change:', A)
print('B: before change', B)

A[0] = "Banana"
print('A after change:', A)
print('B after change', B)

A before change: ['hard rock', 10, 1.2]
B: before change ['hard rock', 10, 1.2]
A after change: ['Banana', 10, 1.2]
B after change ['hard rock', 10, 1.2]

# Hands-ON LAB: Tuples (MODULE 2, LAB 2)

## Tuples

In Python, there are different data types: string, integer and floar. These data types can all be contained ina tuple as follows

In [44]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

The type of this variable is **tuple**

In [48]:
# Print the type of the tuple you created

type(tuple1)

tuple

## Indexing

Each element of a tuple can be accessed via an index. The following table represents the relationship between the index and the items in the tuple. Each element can be obtained by the name of the tuple followed by a square bracket with the index number:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesIndex.gif" width="750" align="center">

We can print out each value in the tuple

In [53]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

We can also print out the **type** of each value in the tuple:

In [54]:
# Print the type of the value inside the tuple

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

We can also use negative indexing. We use the same table above with corresponding negative values:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesNeg.png" width="750" align="center">

We can obtain the last element as follows (this time we will not use the print statement to display the values):

In [58]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

## Concatenate Tuple

We can concatenate or combine Tuples by using the sign:

In [61]:
# Concatenate two tuples

Tuple2 = tuple1 + ("Sergi", 5)

Tuple2

('disco', 10, 1.2, 'Sergi', 5)

We can slice tuples obtaining multiple values

In [63]:
# Get multiple values

Tuple2[3:5]

('Sergi', 5)

## Slicing

We can slice tuples, obtaining new tuples with the corresponding elements:

In [65]:
# Slice from index 0 to index 2

Tuple2[0:2]

('disco', 10)

We can also obtain the length of a tuple using the **length** command

In [67]:
# Get the length of tuple

len(Tuple2)

5

This figure shows the number of elements:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesElement.png" width="750" align="center">

## Sorting

Consider the following tuple

In [68]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

We can sort the values in a tuple and save it to a new tuple:

In [70]:
# Sort the Tuple

RatingSorted = sorted(Ratings)
RatingSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

## Nested Tuple

A tuple can contain another tuple as wess as other more complex data types. This process is called "nesting". Consider the following tuple with several element:

In [74]:
#Create a nest tuple

NT= (1,2,3,Ratings,("pop", "Rock"), (3,4))
NT

(1, 2, 3, (0, 9, 6, 5, 10, 8, 9, 6, 2), ('pop', 'Rock'), (3, 4))

Each element in the tuple, including other tuples, can be obtained via an index as shown in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesNestOne.png" width="750" align="center">

In [77]:
# Print element on each index

print("Element 0 of Tuple: ", NT[0])
print("Element 1 of Tuple: ", NT[1])
print("Element 2 of Tuple: ", NT[2])
print("Element 3 of Tuple: ", NT[3])
print("Element 4 of Tuple: ", NT[4])
print("Element 5 of Tuple: ", NT[5])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  3
Element 3 of Tuple:  (0, 9, 6, 5, 10, 8, 9, 6, 2)
Element 4 of Tuple:  ('pop', 'Rock')
Element 5 of Tuple:  (3, 4)

We can use the second index to access other tuples as demonstrated in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesNestTwo.png" width="750" align="center">

In [82]:
# Print element on each index, including nest indexes

print("Element 1 in tuple 3:", NT[3][1])
print("Element 0 in tuple 3:", NT[3][0])

Element 1 in tuple 3: 9
Element 0 in tuple 3: 0

We can access strings in the second nested tuples using a third index:

In [84]:
#Print elements in a third degree tuple:

Nested = (1.1,(2.1,2.2,(3.1,3.2)))

print("first element in the third degree tuple:", Nested[1][2][0])

first element in the third degree tuple: 3.1

We can use a tree to visualise the process. Each new index corresponds to a deeper level in the tree:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesNestFour.gif" width="750" align="center">

# Hands-ON LAB: Dictionarie in Python (MODULE 2, LAB 3)


## Dictionaries

What are Dictionaries?

A dictionary consists of keys and values. It is helpful to compare a dictionary to a list. Instead of beig indexed numerically like a list, Dictionaries have keys. These keys are the keys thare are used to access values within a dictionary

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsList.png" width="650" />

An example of a Dictionary <code>Dict</code>:

In [3]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
print(Dict)

Dict2 = {"Sergi" : 24, "Dani Pare" : 55, "Lourdes" :51, "Dani fill" : 28}
print(Dict2)

{'key1': 1, 'key2': '2', 'key3': [3, 3, 3], 'key4': (4, 4, 4), 'key5': 5, (0, 1): 6}
{'Sergi': 24, 'Dani Pare': 55, 'Lourdes': 51, 'Dani fill': 28}

The keys can be strings:

In [5]:
#Access to the value by the key

Dict2["Sergi"]

24

Keys can also be any immutable object such as a tuple:

In [9]:
# Access to the value by the key

Dict[(0, 1)] #In this case, the key is a tupla as we can see in the definition of Dictionari "Dict"

6

Each key is separated from its value by a colon "<code>:</code>".  Commas separate the items, and the whole dictionary is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this  "<code>{}</code>".

In [10]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982'}

In summary, like a list, a dictionary holds a sequence of elements. Each element is represented by a key and its corresponding value. Dictionaries are created with two curly braces containing keys and values separated by a colon. For every key, there can only be one single value, however,  multiple keys can hold the same value. Keys can only be strings, numbers, or tuples, but values can be any data type.

It is helpful to visualize the dictionary as a table, as in the following image. The first column represents the keys, the second column represents the values.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsStructure.png" width="650" />

## Keys

You can retrieve the values based on the names

In [13]:
#Get value by keys

release_year_dict["Thriller"]

'1982'

Now let us retrieve the keys of the dictionary using the method <code>keys()</code>:

In [23]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

We can add an entry:

In [24]:
# Append value with key into dictionary

release_year_dict["Warriors"] = "2017"
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982',
 'Warriors': '2017'}

We can also delete an entry

In [27]:
# Delete entries by key

release_year_dict["Thriller"] = "1989" # We put this line to add it so we won't get any key error

del(release_year_dict["Thriller"]) # We use this formula to delete the key we previously added
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Warriors': '2017'}

We can verify if an element is in the dictionary:

In [30]:
#Verify the key is in the dictionary

"Warriors" in release_year_dict #if it is in the dictionary it will return us a TRUE, if not, it will return us a "false"

True

# Hands-ON LAB: Sets in Pyton (MODULE 2, LAB 4)

## Sets

A set is a unique collection of objects in Python. You can denote a set with a pair of curly brackets{}. Python will automatically remove duplicate items:

In [2]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsUnique.png" width="1100" />

You can also create a set from a list as follows:

In [3]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]

album_set = set(album_list)

album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

Now let us create a set of  genres:

In [4]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

##Set Opreations

Let us go over set operations, as these can be used to change the set. Consider the set <b>A</b>:

In [5]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

We can add an element to a set using the <code>add()</code> method:

In [7]:
# Add an element to the set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

If we add the same element twice, nothing will happen as there can be no duplicates in a set:

In [11]:
# Try to add duplicate element to the set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

We can remove an item from a set using the <code>remove</code> method:

In [12]:
#Remove an element from the list

A.remove("NSYNC")

A

{'AC/DC', 'Back in Black', 'Thriller'}

We can verify if an element is in the set using the **in** command

In [13]:
# Verify if an element is in the list

"AC/DC" in A

True

## Sets Logic Operations

Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:

Consider the following two sets:

In [15]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsSamples.png" width="650" />

In [16]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

As both sets contain <b>AC/DC</b> and <b>Back in Black</b> we represent these common elements with the intersection of two circles.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsLogic.png" width = "650" />

You can find the intersect of two sets as follow using <code>&</code>:

In [20]:
# Find the intersection

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

You can find all the elements that are only contained in <code>album_set1</code> using the <code>difference</code> method:

In [22]:
# find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

You only need to consider elements in <code>album_set1</code>; all the elements in <code>album_set2</code>, including the intersection, are not included.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsLeft.png" width="650" />

The elements in album_set2 but not in album_set1 is given by:

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsRight.png" width="650" />

You can also find the intersection of album_list1 and album_list2, using the intersection method:

In [23]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

This corresponds to the intersection of the two circles:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsIntersect.png" width="650" />

The union corresponds to all the elements in both sets, which is represented by coloring both circles:

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsUnion.png" width="650" />

The union is given by:

In [25]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

And you can check if a set is a superset or a subset of another set, respectively, like this

In [27]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [28]:
# Shec if subset
set(album_set1).issubset(album_set2)

False

Here is an example where <code>issubset()</code> and <code>issuperset()</code> return true:

In [29]:
# Check if subset


set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [31]:
# Check if superset

set(album_set1).issuperset({"Back in Black", "AC/DC"})

True