<a href="https://colab.research.google.com/github/S3gam/Python_basics_for_DS/blob/master/Python_basics_for_DS_(MODULE_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hands-ON LAB: Yout first program (MODULE 1, LAB 1)

##TYPES OF OBJECTS AND BOOLEANS

In [1]:
print ('Hello, Python')

import sys #sys is a built-in module that contains many system-specific parameters and functions,
# including the Python version in use. Before using it, we must explictly import it.

print(sys.version)

Hello, Python
3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]

In [ ]:
print("This will be printed") # This will be prinjted since it is welll spelled a
frint("This will cause an error") #This will not be printed since the function is wrong, this stops the run
print("This will NOT be printed") # Thus, this will not be printed since Python stoped the run in the error

###TYPES OF OBJECTS IN PYTHON

In [5]:
# String (str) text
# Integer (int) whole numbers such as 1, 2, -1, -200 ...
# Floar (float) Decimal nombers such as 2.14, 3.8752, 125.659

# You can get Python to tell you the type of an expression by using the built-in type() function.
# You'll notice that Python refers to integers as int, floats as float, and character strings as str.

In [7]:
type(12) #Esto nos debería decir el tipo de objeto dentro del parentesis

int

In [8]:
type(2.56) # This will show us that the object is a float

float

In [10]:
type("Hello World") #Thi9s will show us that the object is a string

str

In [11]:
float(2) #This changes the integer 2 into floating number

2.0

In [12]:
int(2.3) #This will change the float number into integer, we lose the decimal information

2

### BOOLEAN DATA TYPE

In [13]:
# Type of True
type(True)

bool

In [14]:
# Type of False
type(False)

bool

In [15]:
# Convert True to int
int(True) # this will be 1

1

In [16]:
# Convert 1 to boolean
bool(1) # This will be true

True

In [17]:
# Convert 0 to boolean
bool(0) # This will be false

False

In [18]:
# Convert True to float
float(True) #This will give us 1.0

1.0

In [19]:
# Just with 1 /, Python will give us the float
type(6/2)

float

In [20]:
# With 2 //, Python will return us the int
type(6//2)

int


# Hands-ON LAB: Yout first program (MODULE 1, LAB 2)

## STRING OPERATIONS

### What are strings?

In [22]:
# A string is a group of characters inside a quotation marks ("" or '')

# Print the string

print("hello!")

# We can bind or assign a string to another varialbe
# Assign string to variable

name = "Michael Jackson"
name

hello!

'Michael Jackson'

### INDEXING

In [29]:
# It is helpful to think of a string as an ordered sequence. 
# Each element in the sequence can be accessed using an index represented by the array of numbers

#For example, in the string "Sergi Garcia", the number 0 would be "S"

name = "Sergi Garcia"
print(name[0]) #This will print just the first letter
print(name[0:5]) #This will print from 1st to 6th letter or character 
print(name[-1]) # This will print the last letter, because we can also use negative index.

S
Sergi
a

In [31]:
# We can also find the number of charactesrs in a string by using "len", short for length:
# Find the length of string

len("Michael Jackson")

15

In [36]:
# We can also  input a stride value as follows, with the '2' indicating that we are selecting every second variable:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

'SriGri'

In [41]:
# We can also incorporate slicing  with the stride. In this case, we select the first five elements and then use the stride:
# Get every second element in the range from index 0 to index 4

name[0:5:2] #From 0 to 5 give me the the 2nd elements

'Sri'

### CONCATENATE STRINGS

```
# Tiene formato de código
```

In [44]:
# We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

# Concatenate two strings

statement = name + " is the best"
print(statement)

Sergi Garcia is the best

In [45]:
# To replicate values of a string we simply multiply the string by the number of times we would like to replicate it. 
#In this case, the number is three. The result is a new string, and this new string consists of three copies of the original string

# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [49]:
#You can create a new string by setting it to the original variable. 
# Concatenated  with a new string, the result is a new string that changes from Michael Jackson to “Michael Jackson is the best".
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name = name + " singer" # Every time we add something to the variable, it becomes the new regular variable 
# so from now on, the varible "name" will be "Michael Jackson is the best singer"
print(name)

Michael Jackson is the best singer

### String Operations

#### Upper method

In [52]:
# There are many string operation methods in Python that can be used to manipulate the data.
# We are going to use some basic string operations on the data.

# Let's try with the method upper; this method converts lower case characters to upper case characters:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album" #Aquí creamos la variable
print("before upper:", a) # We print the variable

b = a.upper() # We create a new variable using the function to change a to upper letters
print("After upper:", b) # We pritn the text "After upper:" and the variable that we have created.

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

#### Replace method

In [55]:
#The method "replace" replaces a segment of the string, i.e. a substring with a new string. We input the part of the string we would like to change. 
#The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

a = "I love playing football"
b = a.replace("love", "hate") #we are modifying love into hate
c = a.replace("football", "basketball")

print(b)
print(b, "and", c) #we print both variables we have modified before

I hate playing football
I hate playing football and I love playing basketball

#### Find method

In [61]:
#The method "find" finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence.
# We can find the sub-string "Serg" or "cia"

# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Sergi Garcia"
name.find('erg')

1

In [62]:
# Find the substring in the string.

name.find('cia')

9

In [64]:
#If the  sub-string is not in the string then the output is a negative one. For example, the string 'Jasdfasdasdf' is not a substring:

name.find("RERE") # We will get a negative number since this string can't be found in the function

-1